{% extends 'base.html.twig' %}

{% block title %}Page About!{% endblock %}

{% block body %}

    {# Informacje o projekcie #}
    
    <div class="container_auc">
        <div>
            <div class="baner0"><div class="auk1"><h2>O projekcie<h2></div></div>
        </div>
        <div class="baner2">
            
            <div class="pole11">Projekt aplikacji webowej stworzony na potrzeby przedmiotu Projekt Zespołowy</div>
        </div>
    </div>                
    
{% endblock %}

