{% extends 'base.html.twig' %}

{% block title %}Page About!{% endblock %}

{% block body %}

    {# Informacje o projekcie #}
   <h1 class="h3 mb-3 font-weight-normal">O projekcie</h1>
    <p>Some Stuff about bla bla bla cos dopisaneeeeee</p>
    <p></p>
{% endblock %}

