{% extends 'base.html.twig' %}

{% block title %}Page About!{% endblock %}

{% block body %}

    {# Informacje o projekcie #}
    <h1 class="testTitle">About</h1>
    <p>Some Stuff about bla bla bla</p>
    <p></p>
{% endblock %}

