{% extends 'base.html.twig' %}

{% block title %}Auction House!{% endblock %}

{% block body %}

    {# Informacje strona startowa! #}
    <div>
    <div class="indexSite">
        <h1 class="display-4"><img class="mb-4" src="https://files.tinypic.pl/i/01008/ymg1sk2fmw0h.png" alt="" width="80" height="80">Aukcje 24/7</h1>
        <p class="lead">Twój jedyny portal aukcyjny</p>
        <hr class="my-4">
        <a class="btn btn-primary btn-lg" href="{{ url('home_about') }}" role="button">Dowiedz się wiecej</a>
        
    </div>
    </div>
{% endblock %}

