{% extends 'base.html.twig' %}

{% block title %}Auction House!{% endblock %}

{% block body %}

    {# Informacje strona startowa! #}
    <div class="jumbotron">
        <h1 class="display-4">Auction House!!!!</h1>
        <p class="lead">Application to sell stuff.</p>
        <hr class="my-4">
        <a class="btn btn-primary btn-lg" href="{{ url('home_about') }}" role="button">Learn more about</a>
        
    </div>
{% endblock %}

