*{
    padding: 0;
    margin: 0; 
}
.testTitle{
    font-size: 2rem;
    color: red;
    font-weight: bolder;
    background-color:red;
}

.loginK{
    text-align: center;  
}
.form-signin {
    width: 100%;
    max-width: 400px;
    padding: 20px;
    margin: 0 auto;
  }
  .addAuctionK{
    text-align: center;
    width: 100%;
    max-width: 400px;
    padding: 20px;
    margin: 0 auto;

  }
  .addAuctionK a{
      text-decoration: none;
      color: red;
  }